<div class="container mt-5">

    <div class="row row-cols-md-2 row-cols-sm-1">

        <div class="col text-center">
            <img id="img-1" src="" alt="" srcset="" width="80%">
        </div>

        <div class="col mt-5">
            <h2 class="mb-4">Customer ID : {{customerId}}</h2>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Name</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                    [(ngModel)]="customer.name">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">City</span>
                <input type="text" class="form-control" aria-label="Recipient's username"
                    aria-describedby="basic-addon2" [(ngModel)]="customer.city">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Contact</span>
                <input type="text" class="form-control" [(ngModel)]="customer.contact">
            </div>


            <div class="text-center">
                <button type="button" class="btn btn-secondary mt-5" (click)="addCustomer()">Add Customer</button>
            </div>

        </div>

    </div>

</div>
