<div class="container mt-5">

    <div class="row">
        <h1 class="text-center">ADD Item</h1>
        <div class="col mt-5">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Name</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                    [(ngModel)]="item.name">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">rental per day</span>
                <input type="text" class="form-control" aria-label="Recipient's username"
                    aria-describedby="basic-addon2" [(ngModel)]="item.rentalPerDay">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">finn per day</span>
                <input type="text" class="form-control" [(ngModel)]="item.finePerDay">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Qty on hand</span>
                <input type="text" class="form-control" [(ngModel)]="item.qtyOnHand">
            </div>

            <div class="text-center">
                <button type="button" class="btn btn-secondary mt-5" (click)="addItem()">Add Item</button>
            </div>

        </div>

    </div>

</div>
